{% extends 'base.html' %}


{% block content %}

<h1>It's time to Glow Up Gorgeous</h1>

<form method='POST' action='/log/{{ h.id }}/hairdiary/submit_update_form/'>
    {% csrf_token %}
    Date: <input type='date' name='date' autocomplete="off"/>
    Log: <input name='log' autocomplete="off" placeholder='{{ h.Log }}'/>

    Did I achieve my hydration goals this week? 
    <input name='water' autocomplete="off"/>
    What was my favourite product this week?
    <input name='product' autocomplete="off"/>
    Did I meet my AM routines this week?
    <input name='morning' autocomplete="off"/>
    Did I meet my PM routines this week? 
    <input name='night' autocomplete="off"/>

    <button>Update Log!</button>

</form>


    
{% endblock %}
