{% extends 'base.html' %}

{% block content %}

<h1>It's time to Glow Up Gorgeous</h1>
<hr />


<div class="card">
  <div class='card-content'>

    <form action="/log/hair/{{ hair.id }}/add_hair_photo/" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>

      <div class="card-content">
        <p>Date: {{ hair.Date }}</p>
        <p>Log: {{ hair}}</p>
        <p>Water: {{ hair.Water }}</p>
        <p>Product: {{ hair.Product }}</p>
        <p>Morning: {{ hair.Morning }}</p>
        <p>Night: {{ hair.Night }}</p>
        <p>Supplements: {{ hair.Supplements }}</p>
        <a href='/log/{{ hair.id }}/edit'><button>Edit</button></a>
        <a href='/log/{{ hair.id }}/delete'><button>Delete</button></a>
      </div>
    </a>
</div>
</div>



{% endblock %}