{% extends 'base.html' %}

{% block content %}

<h1>It's time to Glow Up Gorgeous</h1>
<hr />


<div class="card">
  <div class='card-content'>
    <a href="/log/{{ hair.id }}">
      <div class="card-content">
        <p>Date: {{ hair.Date }}</p>
        <p>Log: {{ hair}}</p>
        <p>Water: {{ hair.Water }}</p>
        <p>Product: {{ hair.Product }}</p>
        <p>Morning: {{ hair.Morning }}</p>
        <p>Night: {{ hair.Night }}</p>
        <p>Supplements: {{ hair.Supplements }}</p>
      </div>
    </a>
</div>
</div>



{% endblock %}