{% extends 'base.html' %}
{% block content %}
 
<div class="amContainer">
   <h2 class="amTitle">Hey Gorgeous! Fill out your AM Plan below</h2>
   <div class="amForm">
      <form method='POST' action='/morning/routine/submit/'>
         {% csrf_token %}
         Cleanser: <br><input name='cleanser' autocomplete="off"/><br>
         Toner: <br><input name='toner' autocomplete="off"/><br>
         Exfoliator: <br><input name='exfoliator' autocomplete="off"/><br>
         Serum:<br> <input name='serum' autocomplete="off"/><br>
         Moisturizer:<br> <input name='moisturizer' autocomplete="off"/><br>
         Eye Cream: <br><input name='eye' autocomplete="off"/><br>
         Face Oil:<br> <input name='oil' autocomplete="off"/><br>
         Sunscreen: <br><input name='sunscreen' autocomplete="off"/><br>
         Facial Peel:<br> <input name='peel' autocomplete="off"/><br>
         Mask: <br><input name='mask' autocomplete="off"/><br>
         Mist: <br><input name='mist' autocomplete="off"/><br>
         <br>
         <br>
         <button type='submit' class="amBtn">Add AM Routine</button>
      </div>
      </form>
</div>
 
 
{% endblock %}
