{% extends 'base.html' %}
{% block content %}


<form method='POST' action='morning/routine/<int:m_id>/submit_edit_form/'>
    {% csrf_token %}
    Cleanser: <input name='cleanser' autocomplete="off" value='{{ m.Log }}'/>
    Toner: <input name='toner' autocomplete="off" value='{{ m.Toner }}'/>
    Exfoliator: <input name='exfoliator' autocomplete="off" value='{{ m.Exfoliator }}'/>
    Serum: <input name='serum' autocomplete="off" value='{{ m.Serum }}'/>
    Moisturizer: <input name='moisturizer' autocomplete="off" value='{{ m.Moisturizer }}'/>
    Eye Cream: <input name='eye' autocomplete="off" value='{{ m.Eye }}'/>
    Face Oil: <input name='oil' autocomplete="off" value='{{ m.Oil }}'/>
    Sunscreen: <input name='sunscreen' autocomplete="off" value='{{ m.Sunscreen }}'/>
    Facial Peel: <input name='peel' autocomplete="off" value='{{ m.Peel }}'/>
    Mask: <input name='mask' autocomplete="off" value='{{ m.Mask }}'/>
    Mist: <input name='mist' autocomplete="off" value='{{ m.Mist }}'/>
   <br>
   <button type='submit'>Add AM Routine</button>
</form>


    
{% endblock %}
