{% extends 'base.html' %}
{% block content %}
 
<div class="amRoutineContainer">
    <div class="amRoutineTitle">
    <a href='/morning/routine/add/form/'><button class="routineBtn">Add Morning Routine</button></a>
</div>        
<div class="routine-flex">
{% for r in routine %}
<div class="routine-info">
    <p>Cleanser: {{ r.Cleanser }}</p>
    <p>Toner: {{ r.Toner }}</p>
    <p>Exfoliator: {{ r.Exfoliator }}</p>
    <p>Serum: {{ r.Serum }}</p>
    <p>Moisturizer: {{ r.Moisturizer }}</p>
    <p>Eye Cream: {{ r.Eye }}</p>
    <p>Face Oil: {{ r.Oil }}</p>
    <p>Sunscreen: {{ r.Sunscreen }}</p>
    <p>Facial Peel: {{ r.Peel }}</p>
    <p>Mask: {{ r.Cleanser }}</p>
    <p>Mist: {{ r.Mist }}</p>
</div>
{% endfor %}
</div>
</div>

{% endblock %}

