{% extends 'base.html' %}

{% block content %}

<h1>It's time to Glow Up Gorgeous</h1>

      {% for photo in skin.skin_photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
      {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}


        <form action="/log/skin/{{ skin.id }}/add_skin_photo/" enctype="multipart/form-data" method="POST" class="card-panel">
          {% csrf_token %}
          <input type="file" name="photo-file">
          <br><br>
          <input type="submit" class="btn" value="Upload Photo">
        </form>

        <p>Date: {{ skin.Date }}</p>
        <p>Log: {{ skin }}</p>
        <p>Water: {{ skin.Water }}</p>
        <p>Product: {{ skin.Product }}</p>
        <p>Morning: {{ skin.Morning }}</p>
        <p>Night: {{ skin.Night }}</p>
        <p>Supplements: {{ skin.Supplements }}</p>
        <br />
        <a href='/log/skindiary/{{ skin.id }}/edit/'><button>Edit</button></a>
        <a href='/log/skindiary/{{ skin.id }}/delete/'><button>Delete</button></a>
      </div>
</div>
</div>
{% endblock %}