* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* NavBar section */

body {
  background-color: #faebe4d0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
}

.nav-links {
  position: absolute;
  right: 0;
  height: 94vh;
  top: 8vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
  transition: transform 0.4s ease-in;
  z-index: 10;
  display: none;
  width: 50%;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav .logo {
  font-size: 25px;
  margin: 0 30px;
}

.burger > div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: 0.2s ease;
}

.burger {
  margin: 0 50px;
}

.exit .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.exit .line2 {
  opacity: 0;
}

.exit .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  transform: translateX(0%);
  display: inherit;
  background-color: #e1eadf;
}

/* HOME PAGE */

.info {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.action {
  margin: 100px 1px;
  text-align: center;
  font-size: 24px;
}

.hair-and-skin {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 10px;
  align-items: center;
}

.achieve {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 10px;
  align-items: center;
}

.routine {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 10px;
  align-items: center;
}

.info img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
}

.info-text {
  padding: 30px;
  width: 70%;
}

.info h4 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
}

.info h6 {
  font-size: 16px;
  font-weight: 400;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  height: 40vh;
}

.mySlides img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 40vh;
  width: 100%;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* SIGN UP AND LOGIN IN PAGES */

#auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.log-contain {
  border: 1px solid blue;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60vh;
  width: 80%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #5e605d;
}

.log-box {
  margin: 30px 20px;
  text-align: center;
  border-bottom: 1px solid white;
}

.log-box h2 {
  margin: 20px 0px;
}

.sub-field {
  background-color: #e59573;
  margin: 30px 0px;
  padding: 7px;
  outline: none;
  border: 1px solid black;
  border-radius: 5%;
  font-weight: bold;
}

/* MEDIA QUERIES */

@media screen and (min-width: 950px) {
  .info {
    align-items: center;
  }
  .hair-and-skin,
  .routine,
  .achieve {
    justify-content: space-between;
    width: 70%;
    flex-wrap: nowrap;
    text-align: left;
  }
}
